{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-dark">About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row">
                    <div class="col text-center"><img src="../static/career_fair/img/SSE_S_Only_Logo_With_White_Badge.png" style="height: 356px;"></div>
                    <div class="col text-center">
                        <h4>Heading</h4>
                        <p><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.<br><br></p><button class="btn btn-dark" type="button">Learn More</button></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}