{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image: url(&quot;/static/career_fair/img/tech.jpg&quot;);color: rgba(50,55,58,0.91);opacity: 1;">
            <div class="text">
                <h2>1st Annual SSE Career Fair</h2>
                <p>Join us on April 2nd, 2020 to meet face to face with over 20 software companies.</p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button></div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-dark">About the Event</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src={% static 'career_fair/img/sse_full.png' %}></div>
                    <div class="col-md-6 text-center">
                        <h3 class="text-center">Industry Attendance</h3>
                        <div class="getting-started-info">
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div><a class="btn btn-outline-dark btn-lg text-center" role="button" href="companies.html">Browse Companies</a></div>
                </div>
            </div>
        </section>
    </main>
    <div class="footer-basic">
        <footer>
            <div class="social"></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">SSE</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Registration</a></li>
                <li class="list-inline-item"></li>
            </ul>
            <p class="copyright"></p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'career_fair/js/script.min.js' %}"></script>
{% endblock %}