{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-dark">Registration</h2>
                    <p>Fill out the form below to register for the fair. Although it is not required, registering will
                        allow us to estimate attendance.</p>
                </div>
                <form class="text-dark animated" method="post" style="border-color: #32449c">
                    {{ form.non_field_errors }}
                    {{ form.errors }}
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <button class="btn btn-dark btn-block" type="submit">Sign Up</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}