{% extends "base.html" %}
{% load static %}
{% block content %}
    <main class="page registration-page" >
        <section class="clean-block clean-form dark" >
            <div class="container" style="min-height: 100%">
                <div class="block-heading">
                    <h2 class="text-dark">Thank you!</h2>
                    <p>Thank you for registering! A confirmation email was sent to {{ email }}. Good luck at the
                        fair!</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}